@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    scroll-behavior: smooth;
}

:root {
    --color-1: #ffffff;
    --color-2: #000000;
    --color-3: #0077ff;
    --color-4: #5188ff;
    --color-5: #494949;

    --font-1: "Montserrat", sans-serif;
}

body {
    max-width: 90%;
    width: 50rem;
    margin: auto;
    font-family: var(--font-1);
    /* font-family: Arial, Helvetica, sans-serif; */
    background-color: #ffffff;
    line-height: 2rem;
}

h1 {
    color: var(--color-3);
}

h2 {
    color: var(--color-3);
}

h3 {
    color: var(--color-5);
}

p {
    color: var(--color-5);
}

a {
    color: var(--color-3);
}

ul {
    color: var(--color-5);
}

ol {
    color: var(--color-5);
}

details {
    cursor: pointer;
}

summary {
    list-style-position: outside;
    font-weight: bold;
    color: var(--color-5);
}

nav summary {
    list-style-position: outside;
    font-weight: bold;
    color: var(--color-1);
}

summary:hover {
   color: var(--color-3); 
}

nav summary:hover {
   color: var(--color-1); 
}

nav {
    text-align: left;
}

nav ul {
    list-style: none;
    font-size: 1.5rem;
}

nav ul li a {
    text-decoration: none;
    font-weight: bold;
    color: var(--color-1);
}
nav ul li a:hover {
    text-decoration: underline;
}

hr {
    height: 2px;
    background-color: var(--color-5);
    border-style: none;
}

footer {
    text-align: center;
}





.button1 {
    /* width: fit-content;
    min-width: 12rem; */
    text-decoration: none;
    text-align: center;
    font-size: 1rem;
    color: #ffffff;
    font-weight: bold;
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-right: 1rem;
    background-color: #2563eb;
    border-radius: 5rem;
    border-color: #ffffff;
    border-style: solid;
    border-width: 2px;
    outline-style: solid;
    outline-width: 2px;
    outline-color: #2563eb;
    transition: background 0.2s, color 0.2s;
    cursor: pointer;
}

.button1:hover {
    background-color: #5188ff;
    outline-color: #5188ff;
}