@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    scroll-behavior: smooth;
    /* outline: 1px solid red; */
}

:root {
    --color-1: #ffffff;
    --color-2: #000000;
    --color-3: #0077ff;
    --color-4: #5188ff;
    --color-5: #494949;
    --color-6: #d4d4d4;

    --font-1: "Montserrat", sans-serif;

    --font-size-1: 1.15rem;

    --border-radius-1: 16px;
}

body {
    max-width: 90%;
    width: 50rem;
    margin: auto;
    font-family: var(--font-1);
    /* font-family: Arial, Helvetica, sans-serif; */
    background-color: #ffffff;
    line-height: 2rem;
}

h1 {
    color: var(--color-3);
}

h2 {
    color: var(--color-5);
}

h3 {
    color: var(--color-5);
}

p {
    font-size: var(--font-size-1);
    color: var(--color-5);
}

a {
    font-weight: normal;
    ;
    font-size: var(--font-size-1);
    color: var(--color-5);
    transition: color 0.2s, color 0.2s;
}

a:hover {
    color: var(--color-3);
}

ul {
    font-size: var(--font-size-1);
    color: var(--color-5);
}

ol {
    font-size: var(--font-size-1);
    color: var(--color-5);
}

details {
    cursor: pointer;
}

summary {
    list-style-position: outside;
    font-weight: bold;
    color: var(--color-5);
}

nav summary {
    text-decoration: underline;
    list-style-position: outside;
    font-weight: bold;
    color: var(--color-2);
    font-size: var(--font-size-1);
}

summary:hover {
    color: var(--color-3);
}

nav summary:hover {
    color: var(--color-3);
}

nav {
    background-color: var(--color-1);
    text-align: left;
}

nav ul {
    list-style: none;
    /* font-size: 1.5rem; */
}

nav a {
    /* text-decoration: none; */
    font-weight: bold;
    color: var(--color-2);
    font-size: var(--font-size-1);
    transition: color 0.2s, color 0.2s;
}

nav ul li a:hover {
    color: var(--color-3);
    text-decoration: underline;
}

hr {
    height: 1px;
    background-color: var(--color-6);
    border-style: none;
}

footer {
    /* background-color: var(--color-6); */
    text-align: center;
}

footer p {
    color: var(--color-5);
}

pre {
    overflow-x: auto;
    padding: 1rem;
    background-color: #000000;
    color: #ffffff;
}



.button1 {
    /* width: fit-content;
    min-width: 12rem; */
    text-decoration: none;
    text-align: center;
    font-size: 1rem;
    color: #ffffff;
    font-weight: bold;
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-right: 1rem;
    background-color: #2563eb;
    border-radius: 5rem;
    border-color: #ffffff;
    border-style: solid;
    border-width: 2px;
    outline-style: solid;
    outline-width: 2px;
    outline-color: #2563eb;
    transition: background 0.2s, color 0.2s;
    cursor: pointer;
}

.button1:hover {
    background-color: #5188ff;
    outline-color: #5188ff;
}





.grid-parent-1 {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
}

.grid-parent-1 a {
    display: grid;
    text-decoration: none;
}

.grid-parent-1 p {
    word-wrap: break-word;
    padding-left: 1rem;
    padding-right: 1rem;
}

.grid-parent-1 div {
    overflow: hidden;
    border-radius: var(--border-radius-1);
    background-color: var(--color-1);
    box-shadow: 0px 0px 16px #0000004d;
}

.grid-parent-1 div:hover img {
    transform: scale(1.1);
    opacity: 75%;
}

.grid-parent-1 img {
    border-top-left-radius: var(--border-radius-1);
    border-top-right-radius: var(--border-radius-1);
    display: block;
    width: 100%;
    transition: transform 0.2s ease, opacity 0.2s ease;
}





/* MEDIA QUERIES START */
@media(max-width: 768px) {
    .grid-parent-1 {
        grid-template-columns: repeat(2, 1fr);
    }
}
/* MEDIA QUERIES END */